.zoom-cursor {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid white;
  border-radius: 100%;
  background-color: #22222222;
  /* transform: translate(-50%, -50%); */
  /* -webkit-transition-duration: 100ms;
  transition-duration: 100ms;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; */
  will-change: width, height, transform, border;
  z-index: 999;
  pointer-events: none;  
}

