.carousel-container {
  margin: 20px;
  /* width: 545px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-tools {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: space-between;
  top: 10px;
  padding: 0 20px;
  z-index: 1;
}
.selected-image-wrapper {
  position: relative;
  width: 545px;
  height: 545px;
  margin: 0 0 15px 0 !important;
}

.selected-image {
  width: 545px;
  height: 545px;
  /* margin: 0 0 15px 0 !important; */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel {
  position: relative;
  display: flex;
  align-items: center;
}

.carousel__images {
  display: flex;
  margin-left: 7px;
  margin-right: 7px;
  max-width: 500px;
  overflow-x: hidden;
}

.carousel__image-selected {
  position: relative;
  border: 3px solid #ffa700 !important;  
}
.carousel__image-selected::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6));
}

.carousel__image {
  margin-right: 15px;
  height: 92px;
  min-width: 92px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
.carousel__button {
  cursor: pointer;
}
.carousel__button-left {  
  transform: rotate(180deg);
  cursor: pointer;
}

.carousel__button-right {  
  cursor: pointer;
}

.carousel__button-disabled {
  cursor: auto;
}
.carousel__button-disabled path {
  stroke: #E5E5E5 !important;
}
.tool-buttons-left {
  display: flex;
  align-items: center;
}
.tool-button {
  /* width: 40px; */
  height: 40px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(233, 233, 233, 0.6);
  border-radius: 8px;
  cursor: pointer;
}
.zoom-in {
  margin: 0 10px;
}
.fill-window {
  /* position: absolute; */
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  object-fit: contain;
  background-color: white;
}
.fullscreen-enabled .selected-image {
  background: #fff;
}
.fullscreen-enabled .carousel__button-left {  
  position: absolute;
  top: calc(50% - 10px);
  left: 20px;
  z-index: 1;
}
.fullscreen-enabled .carousel__button-right {  
  position: absolute;
  top: calc(50% - 10px);
  right: 20px;
  z-index: 1;
}
.fullscreen-enabled path {  
  stroke: #3b1616;
}
